# Jupyter Notebook
.ipynb_checkpoints
.virtual_documents

__pycache__

.vscode
.idea
.DS_Store

logs/
env_mlops/

models/*
!models/.gitkeep

/models
/mlruns

.env
.env_original
.env_mlops_sake
.env_plantUML

dockers_started.txt

docker/eval/private_conn_dagshub.sh