# Jupyter Notebook
.ipynb_checkpoints
.virtual_documents

__pycache__

.vscode
.idea
.DS_Store

logs/
env_mlops/

models/*
!models/.gitkeep
test_sarah.ipynb
/models
.env
.env_original
dockers_started.txt
